<div>
    <form method="post">
        <input name="transaction_id" type="hidden" value="<%= transactionId %>">
        <p><%= user.username %>,</p>
        The application <b><%= client.name %></b> is requesting access to your account.
        <p>
            Do you approve?
        </p>
        <input type="submit" value="Accept">
        <!-- Cheat to make a bit of spacing -->
        <span>&nbsp&nbsp</span>
        <input type="submit" value="Deny" name="cancel">
    </form>
</div>